.abcd {
    background-color: red;
    color: white;
}

.buyer-profile input.form-control .buyer-profile textarea.form-control {
    margin: 0px;
}

.sidebar {
    padding-right: 20px !important;
}

.message-side-bar {
    padding-right: 0 !important;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        padding-right: 0 !important;
        padding-bottom: 20px;
    }
    .message-side-bar {
        padding-left: 0 !important;
    }
}

.profile-circle {
    /* padding: 65px 10px; */
    /*background:#00ad2d;
    border:1px solid #00ad2d;*/
    position: relative;
    color: transparent;
    border-radius: 2px;
    text-align: center;
    /* float:; */
    cursor: pointer;
    display: inline-block;
    width: 125px;
    height: 125px;
    background-color: #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 20px;
    /*color:#a6a6a6;*/
}

.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}

.profile-circle:hover {
    background-color: #777;
    color: #000;
}

.profile-icon {
    color: #ff503f !important;
}

.bkt {
    color: #ff503f !important;
}

.inline-cls li {
    display: inline-block;
    /* float: left; */
}

.profile-inbox {
    margin-top: 12px;
    margin-left: -18px;
}

.list-group {
    margin-top: 12px;
    /*margin-left: -46px;
    width: 250px;*/
}

.list-group-item {
    margin: 15px;
}

.badge {
    color: red;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    padding: 2px 0px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .badge {
        padding: 0px 0px;
        font-size: 9px;
    }
    .list-group {
        font-size: 9px;
    }
    .list-group-item {
        margin: 15px;
        padding: 9px 5px;
    }
    .mb-list {
        font-size: 9px;
    }
    .profile-circle {
        width: 100px;
        height: 100px;
        padding: 35px 10px;
    }
    .btn-setting {
        font-size: 10px;
    }
    .btn-setting:hover {
        color: #ffF;
    }
    a,
    a:focus,
    a:hover {
        color: #fff;
    }
}

a,
a:focus,
a:hover {
    color: #fff;
}

h3 {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    /*margin-bottom:20px;*/
}

.s-list1 {
    margin-top: 20px;
}

.btn {
    padding: 6px 18px;
    font-size: 11px;
    border-radius: 2px;
}

.s-list {
    font-size: 12px;
    font-weight: 600;
}

.inbox-l {
    margin-left: -15px;
}

.inbox-r {
    margin-left: 15px;
}

@media screen and (max-width: 768px) and (min-width: 200px) {
    .inbox-l {
        margin-left: -15px;
    }
    .inbox-r {
        margin-left: 15px;
    }
}

.profile-circle-n {
    padding: 0;
    /*background:#00ad2d;
    border:1px solid #00ad2d;*/
    position: relative;
    color: transparent;
    border-radius: 2px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    width: 135px;
    height: 135px;
    background-color: #fff;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 20px;
    /*color:#a6a6a6;*/
}

.inbox-color {
    color: #333 !important;
}

.inbox-color:hover {
    color: #333 !important;
}

.text-center {
    padding-top: 12px;
    text-align: center;
}

.l-g-item {
    border: none;
    border-bottom: 1px solid #ddd;
    /*text-align: center;*/
    background-color: transparent;
    margin-left: 45px;
}

.list-group-item-p {
    border: none;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    margin-left: 45px;
}

.l-g-item {
    margin: 0;
    border-bottom: 1px solid #ddd;
    background-color: transparent;
}

.t-c-inbox {
    font-size: 14px;
    font-weight: 300;
    color: #333;
}

.s-g-item1 {
    padding-left: 55px;
    margin-top: -15px;
}

.s-g-item-1 {
    margin-top: -15px;
}

.buyer-edit-button {
    width: 100%;
}

.buyer-msg-button {
    width: 100%;
    background-color: #ffF !important;
    color: #ff503f;
}

.buyer-msg-button:hover {
    color: #ff503f;
}

.buyer-side-bar-heading {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin-left: 0;
    margin-bottom: 0;
    padding-top: 10px;
}

.btn {
    padding: 6px 18px;
    font-size: 11px;
    border-radius: 2px;
}

.option-box {
    background: #e9e9e9;
}

.option-box a {
    color: #ccc !important;
}

.option .active {
    background: #ff503f !important;
}

.option .active a {
    color: #fff !important;
}

.option {
    padding-left: 3px !important;
    padding-right: 3px !important;
}

.message-sidebar {
    background: #ffffff;
    box-shadow: -1px 3px 28px -9px #333;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    padding-right: 0;
    width: 125%;
}

.m-t-10 {
    margin-top: 10px;
}

.btn-setting a {
    font-size: 10px;
    color: #fff;
}

.btn-setting:hover {
    color: #fff;
}

a {
    cursor: pointer;
}

h3 {
    font-size: 20px;
    /*margin-bottom:20px;*/
}

.my-message {
    background-color: #e9e9e9;
    border-radius: 3px;
    padding: 8px;
    width: 90%;
}

.type-message {
    width: 102%;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 20px 25px;
    margin-left: -15px;
}

.highlighted-icon {
    background: #ff503f;
    color: #fff;
    padding: 6px;
    border-radius: 50%;
}

.normal-icon {
    color: #ccc;
    padding-right: 8px;
}

.filter a {
    color: black
}

.filter a.active {
    color: #ff503f
}

.faded-text {
    color: #a8a8a8;
}

.tab-pan {
    display: none;
}

.tab-pan.active {
    display: block;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dddddd;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ff503f;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
}

.sidebar-pic {
    width: 24px;
}

.message-time {
    margin-left: 22%;
}

.trash {
    margin-left: 32%;
    color: #ff503f;
}

.padding-10 {
    padding-bottom: 10px;
}

.message-sidebar b {
    font-size: 12px !important;
}

.message-sidebar p {
    font-size: 10px !important;
}

@media only screen and (max-width: 768px) {
    .message-sidebar {
        width: 100%;
    }
}