/* */

.register-container .register-tab {
    float: left;
}

.register-container .buyer-register button.btn.btn-danger.btn-lg {
    font-size: 14px;
}

.buy-sell-label li {
    display: inline-block;
}

.buy-sell-label li a {
    color: #fff;
    margin: 10px;
}

.panel-default {
    border-color: #151829;
}

.invalid-feedback {
    margin-top: 1px;
}

.btn-lg {
    width: 100%;
    background-color: #c9302c;
    padding: 10px 0px !important;
    margin: 10px 0px;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #151829;
    border-color: #151829;
}

.re-stripe span i {
    padding-right: 5px;
}

iframe {
    width: 500px !important;
}

.rc-anchor.rc-anchor-normal.rc-anchor-light {
    width: 500px !important;
}

.form-group.re-stripe {
    font-size: 20px;
    text-align: center;
}

.fix-nit {
    height: 40px;
}

.form-group.re-stripe span {
    margin-right: 5px;
}

.panel-heading {
    padding: 0px 15px;
}

.nav {
    display: inline-block;
}

.hide-tab {
    display: none;
}

.show-tab {
    display: block;
}

.register-container {
    margin-top: 46px;
    margin-bottom: 39px;
}

.login-right-sec {
    margin: 0 auto;
    margin-top: 19%;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none;
}

.nav-tabs>li>a {
    border: none;
    color: black;
}

.nav-tabs>li.active>a i {
    color: #ff503f;
}

.nav-tabs>li.active {
    border-bottom: 2px solid #ff503f;
}

.nav-tabs>li>a:hover {
    background: transparent;
}

.arrow:after,
.arrow:before {
    bottom: 80%;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
}

.arrow:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 19px;
    left: 39%;
}

.arrow:before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: #151829;
    border-width: 15px;
    left: 38%;
}

.arrow1:after,
.arrow1:before {
    bottom: 80%;
    border: solid transparent;
    content: " ";
    position: absolute;
    pointer-events: none;
}

.arrow1:after {
    border-color: rgba(255, 255, 255, 0);
    border-width: 19px;
    left: 39%;
}

.arrow1:before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: #151829;
    border-width: 15px;
    left: 47%;
}

.panel-part {
    height: 370px;
    padding-top: 19px;
}

.panel-second-half-heading {
    margin-top: 30px;
}

@media screen and (max-width: 992px) {
    .panel-second-half-heading {
        margin-top: 20px;
    }
    .arrow:before {
        left: 41%;
    }
    .arrow1:before {
        left: 54%;
    }
}

@media screen and (max-width: 767px) {
    .panel-part {
        height: auto;
        padding: 0 53px;
    }
    .tabs {
        margin-left: 33.33%;
    }
}

@media screen and (max-width: 468px) {
    .tabs {
        margin-left: 25%;
    }
}

@media screen and (max-width: 320px) {
    .tabs {
        margin-left: 21%;
    }
}

.alert {
    padding: 0px;
    margin-bottom: -22px;
    background-color: transparent;
    border-color: transparent;
}


/**/

.form-group {
    margin-bottom: 22px;
}

.register-panel {
    margin-left: 0 !important;
    margin-top: 25px !important;
}